#blog-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.category-wrapper {
  width: 360px;
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.post-wrapper {
  width: 840px;
  padding: 20px;
}
